*{
margin: 0; padding: 0;
box-sizing: border-box;
font-family: 'Koulen', Arial, helvetica, sans-serif;
text-decoration: none;
letter-spacing: 1px;
background-image:url(https://torpedosa.github.io/pawel-czerwinski-MniDX98S7zw-unsplash.jpg) no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}

body{
min-height: 100vh;

}

h1{
  font-weight: bolder;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

h2{
  color: white;
  font-weight: bold;
  text-transform: capitalize;

}

h3{
  color: white;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
}

p{
  color: black;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.7);
  width: 90%;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 20px;
  padding: 55px 30px;
  font-weight: bold;
  text-align: justify;
  text-transform: capitalize;


}

hr{
  height: 2px;
  width: 50%;
  border-width: 0;
  color: white;
  background-color: white;
  margin: auto;
  align-items: center;
  display: flex;
}

.social-links img{
  height: 20px;
  margin: 40px;
  cursor: pointer;
}
.social-links{
  text-align: center;
}







.logo{
  width: 150px;
  display: flex;
  align-items: baseline;
  margin: 0px 0;

}



.apple{
  width: 150px;
  cursor: pointer;
  display: flex;
  margin: 30px 0;
}



.soundcloud{
  width: 150px;
  cursor: pointer;
  display: flex;
  margin: 30px 0;
}


.beatport{
  width: 150px;
  cursor: pointer;
  display: flex;
  margin: 30px 0;
}

.spotify{
  width: 150px;
  cursor: pointer;
  display: flex;
  margin: 30px 0;
}

.beatport{
  width: 150px;
  cursor: pointer;
  display: flex;
  margin: 30px 0;
}

.traxsource{
  width: 150px;
  cursor: pointer;
  display: flex;
  margin: 30px 0;

}

.youtube{
  width: 150px;
  cursor: pointer;
  display: flex;
  margin: 30px 0;
}

.music-images{
  align-items: center;
  display: flex;
  flex-direction: column;
}




.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;

}

.btn {
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 32px;
}

.btn-1 {
  background: #000;
  color: #fff;
  font-weight: bolder;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #000;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform: 0.3s ease;
}

.btn-1:hover {
  transform: translate(-12px, -12px);
}
.btn-1:hover::after {
  transform: translate(6px, 6px);
}

.btn-1:hover::before {
  transform: translate(12px, 12px);
}


header{
  position: fixed;
  top: 0; left: 0; right: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header {
  background: rgba(255,255,255,0.2) ;
  transition:background 1.5s ease;
  z-index: 999;
  position: relative;
}
header.header-sticky{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
slider{
  margin-top: -50px;
}




header .logo{
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
  position: relative;
  float: left;
}

header .navbar ul li a{
  font-size: 20px;
  padding: 20px;
  color: #333;
  display: block;
}

header .navbar ul li a:hover{
  background: #333;
  color: #fff;
}

header .navbar ul li ul{
position: absolute;
left: 0;
width: 200px;
background: #fff;
display: none;


}

header .navbar ul li ul li{
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .1);

}

header .navbar ul li ul li{
  left: 200px;
  top: 0;

}
header .navbar ul li:focus-within >ul,
header .navbar ul li:hover> ul{
  display: initial;

}

#menu-bar{
  display: none;
}

header label{
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}




form{
  background: rgba(27, 31, 34, 0.5);
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
}

form .title h2{
  letter-spacing: 6px;
  border-bottom: 2px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half{
  display: flex;
  justify-content: space-between;
}

form .half .item{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;

}

form label{
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
  color: white;


}

form .half .item input{
  border-radius: 4px;
  border: 2px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
}


form .full{
  margin-bottom: 24px;
}


form .full textarea{
  background: transparent;
  border-radius: 4px;
  border: 2px solid white;
  outline: 0;
  padding:12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;
}


form .action{
  margin-bottom: 32px;
}

form .action input{
  background: transparent;
  border-radius: 4px;
  border: 2px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
  text-transform: none;
}

form .action input[type="submit"]{
  background: white;
  color: black;
}


form .icons a{
  border: 1px solid white;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 10px;
}


form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
  background: rgba(255, 255, 255, 0.75);
}

@media (max-width: 480px){
  form .half{
    flex-direction: column;
  }

  form .half .item{
    width: 100%;
  }

  form .action{
    display: flex;
    flex-direction: column;
  }
form .action input{
  margin-bottom: 10px;
  width: 100%;
}




}

@media(max-width:991px){
  header{
    padding:20px;
  }

  header label{
    display: initial;

  }

header .navbar{
  position: absolute;
  top:100%; left:0; right:0;
  background:rgba(255,255,255,1);
  border-top: 1px solid rgba(0,0,0,.1);
  display: none;
}

header .navbar ul li{
  width: 100%;
}
header .navbar ul li ul{
  position: relative;
  width:100%;
}

header .navbar ul li ul li{
  background: #eee;
}

header .navbar ul li ul li ul{
  width: 100%;
  left: 0;
}


#menu-bar:checked ~ .navbar{
  display: initial;

}


}
